@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: "Plus Jakarta Sans", sans-serif;
    --fonte-destaque2: "Aldrich", sans-serif;
    --fonte-titulo: "Bebas Neue", sans-serif;
    --cor0: green;
    --cor1: rgb(48, 192, 48);
    --cor2: yellowgreen;
    --pretoclaro:#24202060;
    --pretoescuro: #171717; 
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    text-decoration: none;
}

body{
  background: var(--pretoescuro);
}

/* Só pra testar rolagem */
section {
  height: 100%;
  padding: 30px;

}

html{
    scroll-behavior: smooth;
}
header a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--fonte-destaque);
    font-weight: 500;
}

header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px ;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    
}


.comece a{
    display: flex;
    color: black;
    background-color: var(--cor2);
    margin: 10px 0px 20px  0px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: var(--fonte-destaque2);
    font-weight: 5;
    transition: .5s ease;
}

nav .comece{
    transition: .5s ease;
    
}
.comece a:hover{
    background-color: black;
    color: white;
    border-color: var(--cor2);
}
nav .comece:hover{
    transform: scale(1.1);
}
 
.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 
.menu a{
    transition: .5s ease;
}
.menu a:hover{
    color: var(--cor0);
}
.menu li{
    margin:  0px 25px;
    list-style: none;
    transition: .5s ease;
}

.menu li:hover{
    transform: scale(1.2);
}

.logo a{
    display: flex;
    height: 100px;
    width: 100px;
}

.logo img{
    border-radius: 5px;
}

.main{
    color: white;
    height: 100%;
    
}

.apresentacao{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--fonte-destaque);
}

.titulo-fino{
    
    font-size: 20px;
    color: yellowgreen;
}

.titulo-branco{
    font-size: 40px;
    font-weight: bold;
}
.titulo-verde{
    font-size: 40px;
    font-weight: normal;
    color: yellowgreen;
    margin-bottom: 20px;
}

.texto-fino{
    width: 400px;
    text-align: center;
    font-weight: 100px;
}
.refeicoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card{  
    display: flex;
    background: var(--pretoclaro);
    align-items: center;
    color: white;
    font-family: var(--fonte-destaque);

    background-size: 100% 200%;
    background-position: top;
    border: 1px solid rgba(87, 86, 86, 0.205);
    border-radius: 15px;
    padding: 30px;
    margin: 0px 30px;
    width: 400px;
    height: 250px;
    z-index: 0;
    transition:  transform .5s ease, box-shadow .5s;
}

.card:hover{
    box-shadow: 0 0 30px rgba(30, 255, 0, 0.342);
    transform: scale(1.1);
}
.card h3{
    margin-top: 10px;
    font-weight: bold;
    font-style: normal;
}


.card div {
    display: flex;
}

.card img{
    z-index: -1;
    height: auto;
    border-radius: 10px;
    margin: 0px ;
    width: 280px;
}
.card a{
    display: inline-block;
    color: var(--cor0);
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 25% 0px 0px 0px ;
    transition: .3s ease;
}

.card a:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.493);
    
}



/* BLOCO DE TEXTO */
.info {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* TÍTULO */
.info h3 {
  font-size: 28px;
  height: 10px;
  
}

/* DESCRIÇÃO */
.info p {
  font-size: 16px;
  height: 10px;
  width: 200px;
}

/* DADOS (kcal, proteína, carb, hora) */
.dados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(43, 40, 40, 0.438);
  gap:20px;
  width: 160%;
  height: 70px;
  font-size: 15px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

/* Cada item */
.dados div {
  color: white;
  font-family: var(--fonte-destaque);
}




footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    background-color: var(--pretoclaro);
    color: white;
    padding-bottom: 20px;

}
.foot-text{
    text-align: center;
    color: white;
    font-size: small;
    margin-top: 20px;
}
.foot-text a{
    color: white;
}
.foot-text a:hover{
    text-decoration: underline;
}
.foot-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.foot-geral{
    display: flex;
    justify-content: center;
    gap: 10%;
    color: white;
    
}
.foot-geral > div{
    display: flex;
    flex-direction: column;
}

.foot-geral a{
    color: white;
    font-size: smaller;
    margin-top: 20px;
}